 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script> 
<script src="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js
"></script> 

    <script src="/javascripts/index.js"></script>    

     </body>
     </html>
